<h1 matDialogTitle>Cambiar contraseña</h1>
<mat-dialog-content class="mat-typography" [formGroup]="changePasswordForm" (ngSubmit)="onSaveChangePassword()" *ngIf="changePasswordForm">
  <mat-card>
    <mat-card-content>
      <div class="row">
        <mat-form-field appearance="outline" class="col-md-10">
          <mat-label for="old_password">Contraseña actual</mat-label>
          <input matInput placeholder="Nueva contraseña" type="password" [formControlName]="'old_password'" [type]="hide1 ? 'password' : 'text'"/>
          <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
            <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <div class="invalid-feedback" *ngIf="changePasswordForm.get('old_password')?.hasError('required')">
            Este campo es <strong>requerido.</strong>
          </div>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline" class="col-md-10">
          <mat-label for="password">Nueva contraseña</mat-label>
          <input matInput placeholder="Nueva contraseña" type="password" class="form-control" [formControlName]="'password'" [type]="hide2 ? 'password' : 'text'"/>
          <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
            <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <div class="invalid-feedback" *ngIf="changePasswordForm.get('password')?.errors">
            <div *ngIf="changePasswordForm.get('password')?.hasError('required')">
              Este campo es <strong>requerido.</strong>
            </div>
            <div *ngIf="changePasswordForm.get('password')?.hasError('minlength')">
              La contraseña debe contener por lo menos <strong>8 caracteres.</strong>
            </div>
            <div *ngIf="changePasswordForm.get('password')?.hasError('pattern')">
              La contraseña debe contener al menos una letra minúscula y un número.
            </div>
          </div>
          <div class="text-danger small" *ngIf="changePasswordForm.hasError('passwordNotDifferentError') && changePasswordForm.get('password')?.touched">
            La nueva contraseña no puede ser igual a la actual.
          </div>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline" class="col-md-10">
          <mat-label for="password2">Repetir nueva contraseña</mat-label>
          <input matInput placeholder="Nueva contraseña" type="password" [formControlName]="'password2'" [type]="hide3 ? 'password' : 'text'"/>
          <button mat-icon-button matSuffix (click)="hide3 = !hide3" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide3">
            <mat-icon>{{hide3 ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <div class="invalid-feedback" *ngIf="changePasswordForm.get('password2')?.hasError('required')">
            Este campo es <strong>requerido.</strong>
          </div>
          <div class="text-danger small" *ngIf="changePasswordForm.hasError('passwordMatchingError') && changePasswordForm.get('password2')?.touched">
            Las contraseñas no coinciden.
          </div>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
<div mat-dialog-actions class="d-flex justify-content-center" *ngIf="changePasswordForm">
  <button mat-raised-button color="accent" type="submit" [disabled]="changePasswordForm.invalid" (click)="onSaveChangePassword()">Guardar</button>
</div>
