<div class="main-content">
  <div class="container-md">
    <div class="row">
      <div class="col-md-12 p-5">
        <mat-toolbar color="accent">
          <span>Documentos importantes</span>
        </mat-toolbar>
        <mat-card>
          <mat-card-content>
            <div class="row mx-0 my-4">
              <a href="{{documentBase + '/Convenio_Especialidades.pdf'}}" target="_blank">
                <mat-card class="document border m-0">
                  <mat-card-content class="d-flex justify-content-center p-40">
                    <mat-icon color="primary" class="file-icon"> insert_drive_file</mat-icon>
                  </mat-card-content>
                  <mat-card-footer class="d-flex p-3">
                    <mat-icon color="primary"> insert_drive_file</mat-icon>
                    <small>Convenio Especialidades</small>
                  </mat-card-footer>
                </mat-card>
              </a>
              <a href="{{documentBase + '/DECRETOREGLAMENTARIO.pdf'}}" target="_blank">
                <mat-card class="document border m-0">
                  <mat-card-content class="d-flex justify-content-center p-40">
                    <mat-icon color="primary" class="file-icon"> insert_drive_file</mat-icon>
                  </mat-card-content>
                  <mat-card-footer class="d-flex p-3">
                    <mat-icon color="primary"> insert_drive_file</mat-icon>
                    <small>Decreto Reglamentario</small>
                  </mat-card-footer>
                </mat-card>
              </a>
              <a href="{{documentBase + '/ESTATUTOCMPLR.pdf'}}" target="_blank">
                <mat-card class="document border m-0">
                  <mat-card-content class="d-flex justify-content-center p-40">
                    <mat-icon color="primary" class="file-icon"> insert_drive_file</mat-icon>
                  </mat-card-content>
                  <mat-card-footer class="d-flex p-3">
                    <mat-icon color="primary"> insert_drive_file</mat-icon>
                    <small>Estatuto CMPLR</small>
                  </mat-card-footer>
                </mat-card>
              </a>
              <a href="{{documentBase + '/L7674.pdf'}}" target="_blank">
                <mat-card class="document border m-0">
                  <mat-card-content class="d-flex justify-content-center p-40">
                    <mat-icon color="primary" class="file-icon"> insert_drive_file</mat-icon>
                  </mat-card-content>
                  <mat-card-footer class="d-flex p-3">
                    <mat-icon color="primary"> insert_drive_file</mat-icon>
                    <small>L7674</small>
                  </mat-card-footer>
                </mat-card>
              </a>
              <a href="{{documentBase + '/codigoetica.pdf'}}" target="_blank">
                <mat-card class="document border m-0">
                  <mat-card-content class="d-flex justify-content-center p-40">
                    <mat-icon color="primary" class="file-icon"> insert_drive_file</mat-icon>
                  </mat-card-content>
                  <mat-card-footer class="d-flex p-3">
                    <mat-icon color="primary"> insert_drive_file</mat-icon>
                    <small>Código Ética</small>
                  </mat-card-footer>
                </mat-card>
              </a>
              <a href="{{documentBase + '/leyespecialidad.pdf'}}" target="_blank">
                <mat-card class="document border m-0">
                  <mat-card-content class="d-flex justify-content-center p-40">
                    <mat-icon color="primary" class="file-icon"> insert_drive_file</mat-icon>
                  </mat-card-content>
                  <mat-card-footer class="d-flex p-3">
                    <mat-icon color="primary"> insert_drive_file</mat-icon>
                    <small>Ley Especialidad</small>
                  </mat-card-footer>
                </mat-card>
              </a>
              <a href="{{documentBase + '/resolucion-908.pdf'}}" target="_blank">
                <mat-card class="document border m-0">
                  <mat-card-content class="d-flex justify-content-center p-40">
                    <mat-icon color="primary" class="file-icon"> insert_drive_file</mat-icon>
                  </mat-card-content>
                  <mat-card-footer class="d-flex p-3">
                    <mat-icon color="primary"> insert_drive_file</mat-icon>
                    <small>Resolución 908</small>
                  </mat-card-footer>
                </mat-card>
              </a>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<!-- <div class="main-content">
  <div class="container-md">
    <div class="row">
      <div class="col-md-12 p-5">
        <mat-toolbar color="accent">
          <span>Documentos importantes</span>
        </mat-toolbar>
        <mat-card>
          <mat-card-content>
            <mat-nav-list>
              <mat-list-item>
                <span matListItemTitle>Convenio Especialidades</span>
                <a mat-icon-button matListItemMeta href="{{documentBase + '/Convenio_Especialidades.pdf'}}" target="_blank">
                  <mat-icon>file_open</mat-icon>
                </a>
                 <a mat-icon-button matListItemMeta href="{{documentBase + '/Convenio_Especialidades.pdf'}}" target="_self" download="Convenio_Especialidades.pdf">
                  <mat-icon>get_app</mat-icon>
                 </a>
              </mat-list-item>
              <mat-list-item>
                <span matListItemTitle>Decreto Reglamentario</span>
                <a mat-icon-button matListItemMeta href="{{documentBase + '/DECRETOREGLAMENTARIO.pdf'}}" target="_blank">
                  <mat-icon>file_open</mat-icon>
                </a>
                 <a mat-icon-button matListItemMeta href="{{documentBase + '/DECRETOREGLAMENTARIO.pdf'}}" target="_self" download="DECRETOREGLAMENTARIO.pdf">
                  <mat-icon>get_app</mat-icon>
                 </a>
              </mat-list-item>
              <mat-list-item>
                <span matListItemTitle>Estatuto CMPLR</span>
                <a mat-icon-button matListItemMeta href="{{documentBase + '/ESTATUTOCMPLR.pdf'}}" target="_blank">
                  <mat-icon>file_open</mat-icon>
                </a>
                 <a mat-icon-button matListItemMeta href="{{documentBase + '/ESTATUTOCMPLR.pdf'}}" target="_self" download="ESTATUTOCMPLR.pdf">
                  <mat-icon>get_app</mat-icon>
                 </a>
              </mat-list-item>
              <mat-list-item>
                <span matListItemTitle>L7674</span>
                <a mat-icon-button matListItemMeta href="{{documentBase + '/L7674.pdf'}}" target="_blank">
                  <mat-icon>file_open</mat-icon>
                </a>
                 <a mat-icon-button matListItemMeta href="{{documentBase + '/L7674.pdf'}}" target="_self" download="L7674.pdf">
                  <mat-icon>get_app</mat-icon>
                 </a>
              </mat-list-item>
              <mat-list-item>
                <span matListItemTitle>Código Ética</span>
                <a mat-icon-button matListItemMeta href="{{documentBase + '/codigoetica.pdf'}}" target="_blank">
                  <mat-icon>file_open</mat-icon>
                </a>
                 <a mat-icon-button matListItemMeta href="{{documentBase + '/codigoetica.pdf'}}" target="_self" download="codigoetica.pdf">
                  <mat-icon>get_app</mat-icon>
                 </a>
              </mat-list-item>
              <mat-list-item>
                <span matListItemTitle>Ley Especialidad</span>
                <a mat-icon-button matListItemMeta href="{{documentBase + '/leyespecialidad.pdf'}}" target="_blank">
                  <mat-icon>file_open</mat-icon>
                </a>
                 <a mat-icon-button matListItemMeta href="{{documentBase + '/leyespecialidad.pdf'}}" target="_self" download="leyespecialidad.pdf">
                  <mat-icon>get_app</mat-icon>
                 </a>
              </mat-list-item>
              <mat-list-item>
                <span matListItemTitle>Resolución 908</span>
                <a mat-icon-button matListItemMeta href="{{documentBase + '/resolucion-908.pdf'}}" target="_blank">
                  <mat-icon>file_open</mat-icon>
                </a>
                 <a mat-icon-button matListItemMeta href="{{documentBase + '/resolucion-908.pdf'}}" target="_self" download="resolucion-908.pdf">
                  <mat-icon>get_app</mat-icon>
                 </a>
              </mat-list-item>
            </mat-nav-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div> -->
