.load-image-container {
    position: relative;
    width: fit-content;
}

.box-shadow-load-image{
    box-shadow: 0 5px 10px 10px #18678b1a;
}

.image-container {
    height: 200px;
    width: 300px;
    z-index: 1;
    border-radius: 5%;
    background-color: #fff;
    background-position: center;
    background-size: cover;

    &.load-image-placeholder{
        background-image: url('~src/assets/images/avatar-placeholder.png');
    }
}

.icon-wrapper {
    position: absolute;
    height: 40px;
    width: 40px;
    padding: .35rem;
    background-color: #2962FF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 75%;
    z-index: 2;
    cursor: pointer;

    &:hover {
        transition: all .25s;
        background-color: darken(#2962FF, 15%);
    }

    .icon {
        color: white;
    }

    label {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input[type='file'] {
        display: none;
    }
}
